body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  /* color: white; */
  width: 100%;
  height: 100vh;
  background: rgb(109,9,121);
  background: linear-gradient(175deg, rgba(109,9,121,0.8645833333333334) 0%, rgba(205,205,205,1) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
}

h1{
  font-size: 1.5em;
}

h2 {
  font-size: 1em;
}

h3 {
  font-size: 1em;

}

.login, .waiter{
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  width: 25em;
  height: 60vh;
  color: white;
  background: #31313196 ;
  background-image: url("./images/illustration.svg");
  background-repeat: no-repeat;
  background-position:bottom;
  border-radius: 10px;
 background-blend-mode: multiply,multiply;
 letter-spacing: 1.5px;
 border-bottom: goldenrod solid 3px;
 padding-top: 0.5 em;
}

.waiter{
  height: 80vh;
  justify-content: flex-start;
}

.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid black;
  width: 24em;
}

.menu{
  display: flex;
  flex-direction: column;
}

#logout, #breakfast, #today-menu{
  width: 8em;
  height: 3em;
  margin: 0.3em;
  font-size: 13px;
}

#view-logo{
  width: 4em;
}
#nameRestaurant{
  font-size: 0.8em;
}

/* .waiter{
  background: black;
} */

/* .input-roles{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f6f3ff;
  font-size: 1em;
  background-color: rgba(0, 0, 0, 0.701);
  border: 1px solid  goldenrod;
  width: 9.8em;
  height: 8em; 
  margin: 1em;
  letter-spacing: 1px;
  
} */


.logo {
  width: 4.5em;
  margin-left: 3.5em;
  margin-top: 0.5em;
  margin-left: 1.5em;
}

.input-form {
  color: white;
  font-size: 1.2em; 
  background: transparent;
  border-left: 5px;
  border-right: 5px;
  border-top: 5px;
  outline: none;
  border-color: goldenrod;
}

.input-buttons {
font-size: 1em;
 width: 14em;
 height: 2em;
 border-radius: 10px;
 outline: none;
 border: 0;
 color: white;
 background-color: rgba(0, 0, 0, 0.3);
 border: 1px solid  goldenrod;

}

#sign-in{
  margin-top: 0.5em;
}

.error{
  width: 100vh; 
  height: 100%; 
}

.messageError {
  color: rgb(248, 225, 21);
}

.info ul{
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 22em;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid  goldenrod;
  border-radius: 5px;
  padding: 0.5em 1em 0.5em 1em;
}

.user-name{
  width: 6em;
}

.data{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 10em;
  margin: 0;
}
.data ul {
  list-style: none;
}
.infoProducts{
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: start;
  margin: 0;
}
.amount{
  display: grid;
  grid-template-columns: auto auto auto;
  justify-items: end;
  align-items: start;
}
.amount h4{
  margin: 0;
}


.resume ul{
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 13em;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid  goldenrod;
  border-radius: 5px;
  padding: 0.5em 1em 0.5em 10em;
}

.send-cancel{
  display: flex;
  flex-direction: row;
  gap: 4em;
  width: 18em;
  margin: 1em;
}

@media (min-width: 768px) {
  .login {
    width: 45em;
    height: 60vh;
    background-position: center;
    letter-spacing: 5px;
  }
  .waiter {
    width: 80em;
    height: 80vh;
    background-position: center;
    display: flex;
    justify-content: space-around;
    letter-spacing: 5px;
  }

  .header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid black;
    width: 70em;
    
  }

  .menu{
    display: flex;
    flex-direction: row;
  }

  .input-form {
    width: 30em;
  }
  
h1 {
  margin: 1.5px;
 font-size: 2em;
}
.logo {

  width: 4em;
  margin-left: 7em;
  margin-top: 1.5em
}

.info ul{
  width: 68em;
  border: 1px solid black; 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.data{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 70em;
  
}
.data ul {
  list-style: none;
  width: 60em;
}
.infoProducts{
  display: grid;
  grid-template-columns: auto auto auto;
  
}
.amount{
  display: grid;
  grid-template-columns: auto auto auto;
  justify-items: end;
  align-items: start;
}
.amount h4{
  margin: 0;
}

.resume ul{
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 40em;

}
}
