body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: rgb(95, 73, 138);
  /* background: rgb(87, 165, 179); */
  display: flex;
  justify-content: center;  
  align-items: center;
  background-image: url("./images/illustration.svg");
  
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: bottom;
  background-size: 35em; 
  
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.3em;
}

.login,
.waiter,
.chef {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  font-weight: bolder;
  background: #31313196;
  border-radius: 10px;
  letter-spacing: 1.5px;
  border-bottom: goldenrod solid 3px;
  padding-top: 2em;
}
.login {
  width: 40rem;
  height: 40rem;
  margin-top: 2rem;
  font-size: 12px;
}

.entrar {
  display: inline-flex;
  align-items: center;
  width: 21em;
  padding: 10px;
  margin: 0 auto;
  margin: 5px;
  letter-spacing: 5px;
  justify-content: center;
  border-radius: 5px;
  outline: none;
  border: 0;
  color: white;
  font-weight: bolder;
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid goldenrod;
  
}

.entrar:hover {
  background: goldenrod;
}

.menu {
  display: flex;
  flex-direction: column;
}

.logout {
  display: flex;
  justify-content: center;
  margin-left: 14em;
  width: 90px;
  border-radius: 5px;
  padding: 5px;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid goldenrod;
}

.logout:hover {
  background: goldenrod;
}

#view-logo {
  display: flex;
  width: 50px;
  /* margin-left: 50px; */
  align-items: center;
  justify-content: center;
}

#nameRestaurant {
  font-size: 1.4em;
}

.input-form {
  width: 250px;
  color: white;
  font-size: 15px;
  background: transparent;
  border-left: 2px;
  border-right: 5px;
  border-top: 5px;
  outline: none;
  border-color: goldenrod;
}

.input-buttons {
  width: 12.5em;
  display: inline-flex;
  align-items: center;
  padding: 10px;
  margin: 0 auto;
  margin: 5px;
  letter-spacing: 2px;
  justify-content: center;
  border-radius: 5px;
  outline: none;
  border: 0;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid goldenrod;

}

.input-buttons li {
  list-style: none;
  justify-content: center;
  padding: 0;
}

.input-buttons:hover {
  background: goldenrod;
}

#sign-in {
  margin-top: 0.5em;
}

.error {
  width: 100%;
}

.messageError {
  font-size: 10px;
  color: rgb(248, 225, 21);
}

.info ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 24em;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid goldenrod;
  border-radius: 5px;
  padding: 0.5em 1em 0.5em 0.2em;
}

.user-name {
  width: 6em;
  margin: 0 auto;
  margin: 5px;
  padding: 5px;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid goldenrod;
  border-radius: 4px;
  text-align: center;
}

.data {
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid goldenrod;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 25.1em;
  margin: 0;
  border-radius: 5px;
}
.data ul {
  list-style: none;
  padding: 0;
}

.infoProducts {
  width: 19em;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
  font-size: 14px;
}

.amount {
  display: inline-flex;
  font-size: 14px;
  justify-content: space-between;
}

.buttonAmount {
  width: 2em;
  justify-content: space-between;
}

.resume ul,
.total ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 24em;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid goldenrod;
  border-radius: 5px;
  padding: 0.5em 0.7em 0.5em 0.7em;
  font-size: 1em;
}

.infoProductsResume div{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  list-style: none;
  font-size: 14px;
}

.priceAmountProduct {
  margin: 0;
  padding: 0;
}


.client-resume {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 0 auto;
    margin: 10px;
  }

  .data-chef {
    display: grid;
    grid-template-columns: auto;
    padding: 5px;
    width: 20rem;
    margin: 0 auto;
    margin: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid goldenrod;
  }


  .data-div-chef ul {
    margin: 0 auto;
    padding: 0;
  }

  .listo {  
  margin: 0 auto;
  margin: 5px;
  padding: 10px;
  letter-spacing: 2px;
  justify-content: center;
  border-radius: 5px;
  outline: none;
  border: 0;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid goldenrod;
  }
  .listo:hover {
    background: goldenrod;
  }

  .order ul {
    display: flex;
    align-items: center;
    padding: 20px;
    width: 18em;
    letter-spacing: 2px;
    justify-content: center;
    border-radius: 5px;
    outline: none;
    border: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid goldenrod;
    list-style: none;
  }
  .order:hover ul {
    background: goldenrod;
  }

  .buttonsDelivered {
    display: inline-flex;
    width: 26rem;
  }
  
  .buttonAmount {
    border-radius: 10px;
    border: 0;
    color: white;
    background-color: goldenrod;
  }



@media (min-width: 768px) {
  .logout {
    margin-left: 32rem;
    width: 100px;
    border-radius: 5px;
  }

  .restaurant{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 4em;
  }

  #view-logo{
    display: flex;
    width: 5em;
    justify-content: center;
    margin: 0%;
  }

  .messageError {
    font-size: 15px;
  }

  .waiter,
  .chef {
    width: 48em;
    background-position: center;
    display: flex;
    justify-content: space-around;
  }

  .entrar {
    
    width: 38em;

  }

  .input-form {
    width: 30em;
  }

  .input-buttons {
    display: inline-flex;
    width: 18.5rem;
    padding: 20px;
    margin: 0 auto;
    margin: 15px;
  }

  .info ul{
    width: 38em;
    margin: 0 auto;
    border-radius: 5px;
    margin: 15px;

  }

  .infoProducts {
    font-size: 1em;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    padding: 10px;
  }

  .resume ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    width: 38em;
    margin: 0 100px;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid goldenrod;
    border-radius: 5px;
  }
  
  .infoProductsResume   {
    margin: 0 auto;
    text-align: center;
    align-items: center;
    justify-items: center;
    font-size: 16px;
  }

  .client-resume {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 0 auto;
    margin: 15px;
  }

  .data{
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid goldenrod;
    width: 39.5em;
    margin: 0 auto;
    margin: 10px;
    border-radius: 10px;
  }

  .user-name {
    width: 10em;
    height: 2em;
    margin: 3em;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid goldenrod;
    border-radius: 4px;
    text-align: center;
  }

  .resume ul,
  .total ul {
   margin: 0 auto;
   margin: 15px;
    width: 38em;
  
  }
  .order {
    display: inline-block;
    padding: 5px;
  }
  .data-chef {
    margin: 5px;
    border-radius: 5px;
  }


  .data-div-chef ul {
    display: grid;
    grid-template-columns: auto auto;
    margin: 0 auto;
    padding: 10px;
  }

  .buttonsDelivered {
    display: inline-flex;
    width: 41rem;
  }
  
  .orderWaiter{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  #pending, #delivering, #delivered{
    width: 13em;
  }

  .header{
    display: flex;
    width: 43em;
    flex-direction: row;
    justify-content: space-between;
    align-items: center
  }

  #logout{
    margin: 0;
    
  }
  
  .headerWaiter, .headerChef{
    display: grid;
    grid-template-columns: 32.8em 2em;
    align-items: flex-start;
    width: 39em;
  }


}
